﻿.forte-segment-input-UI {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right,rgba(87,157,172,.3), rgba(87,157,172,0));
    border: solid;
    border-width: .1em;
}

.forte-variable-display-value {
    color: gray;
}

.forte-variable-control-wrapper {
    margin-top: 0;
    margin-bottom: 1em;
}

p.control-para {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0
}

.forte-control {
    width: 100%
}

    .forte-control * {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

.forte-variable > a > .jstree-icon {
    font-size: 0.7em;
    color: #999999;
}

.forte-variable-control-wrapper > a > .jstree-icon {
    display: none !important;
}

.forte-segment {
    list-style: none;
    list-style-image: url('SegmentTransparent.bmp');
    margin-left: 0;
    padding-left: 0em;
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 4em;
}

.forte-child-segment {
    list-style: none;
    list-style-image: url('SegmentComponentTransparent.bmp');
    margin-left: 0;
    padding-left: 0em;
    padding-bottom: 5em;
    text-indent: 0em;
    margin-top: 0em;
    margin-bottom: 5em;
}

.forte-segment-display-name {
    margin-bottom: 5em;
    font-weight: bold;
}

.forte-variables {
    list-style: none;
    margin-left: 0em;
    padding-left: 1.2em;
    text-indent: -1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.forte-variable:before {
    display: block;
    font-size: 0.5em;
    font-family: FontAwesome;
    content: '\f111';
    line-height: 12px;
    vertical-align: bottom;
    float: left;
    width: 1.4em;
    color: green;
}

.forte-variable-value {
    list-style: none;
    margin-left: -2em;
    margin-top: .3em;
    margin-bottom: 1em;
}

p.list-para {
    margin-top: 0;
    margin-bottom: 0.5em
}
