﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SegmentUI.aspx.cs" Inherits="Segment_UI" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <input type="button" value="Show Prefill" onclick="ShowPrefill()" />
    <div>
    
    </div>
    </form>
</body>
</html>
